
*{
    margin: 0;
    padding: 0;
    user-select: none;
}

body{

    background-color: black;
    color: white;
}

.page{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: absolute;
    left: 0; top: 0;
    width:100%;
    height: 100%;
    padding: 0;
}
.page-welcome{
    display: block;
    text-align: left;
    padding: 10px;
}

.lui-btn{
    width: 100%;
    height: 50%;
    background-color: #00a8ff;
    background-image: url('https://s3.eu-central-1.amazonaws.com/ajmariage/Andreas.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
}
.elle-btn{
    width: 100%;
    height: 50%;
    background-color: #e84393;
    background-image: url('https://s3.eu-central-1.amazonaws.com/ajmariage/Justine.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;

}
.btn-le{
    vertical-align: top;
    transition: height 500ms, background-size 500ms;
}
.btn-le h1{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: opacity 200ms;
}
.close-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  opacity: 0;
  transition: opacity 500ms;
  background-image: url('../img/close.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.page-lui-elle{
    display: none;
}
